
.collection-container {
  background-image: linear-gradient(rgb(74, 83, 70), rgb(7, 8, 7) 85%);
  background-image: cover;
}
.playlist-container {
  text-align: center;
  margin-top: 50px;
  display: flex;
  align-items: baseline;
  height: 100%;
  .playlist-index-container {
    max-width: 1480px;
    display: grid;
    position: relative;
    margin-left: 18%;
    margin-right: 82%;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(6, 150px);
    grid-gap: 10%;
    grid-row-gap: 150px;;
    .playlist-item {
      .playlist-name {
        width: 210px;
        text-align: center;
      }
      .playlist-pic-wrapper{
        box-shadow: 0 0 10px rgba(0,0,0,.3);
        width: 100%;
        height: 100%;
        background-color: #282828;
        padding: 30px;
        display: inline-block;
        box-shadow: 0 0 10px rgba(0,0,0,.3);

      }
      .playlist-pic-wrapper:hover {
        background-color: rgba(0,0,0,.5);
        img {
          transition: all 50ms linear;
          opacity: 0.8;
        }
      }

      img {
        height: 150px;
        width: 150px;
      }
      .playlist-title {
        display: block;
        font-size: 20px;
        font-weight: 500;
        color: white;
        padding: 10px;
      }

      .playlist-author {
        color: rgba(255,255,255,0.6);
        letter-spacing: .015em;
      }
    }
  }
}
