
.collection-container {
  background-image: linear-gradient(rgb(18, 18, 18), rgb(8, 8, 8) 85%);
  height: 100vh;

}
.playlist-container {
  text-align: center;
  background-image: linear-gradient(rgb(18, 18, 18), rgb(8, 8, 8) 85%);
  margin-top: 50px;
  display: flex;
  align-items: baseline;
  height: 100%;
  .playlist-index-container {
    max-width: 1480px;
    display: grid;
    position: relative;
    margin-left: 18%;
    margin-right: 82%;
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(6, 150px);
    grid-gap: 10%;
    grid-row-gap: 150px;;
    .playlist-item {
      .playlist-name {
        width: 210px;
        text-align: center;
      }
      .playlist-pic-wrapper{
        box-shadow: 0 0 10px rgba(0,0,0,.3);
        width: 100%;
        height: 100%;
        background-color: #282828;
        padding: 30px;
      }
      img {
        height: 150px;
        width: 150px;
      }
      .playlist-title {
        display: block;
        font-size: 20px;
        font-weight: 500;
        color: white;
        padding: 10px;
      }

      .playlist-author {
        color: rgba(255,255,255,0.6);
        letter-spacing: .015em;
      }
    }
  }
}
