
.collection-container {
  background-image: linear-gradient(rgb(74, 83, 70), rgb(7, 8, 7) 85%);
  background-image: cover;
  min-height: 100%;
  position: relative;
  padding-bottom: 120px;
}
.playlist-container {
  text-align: center;

  height: 100%;
  .playlist-index-container {
    max-width: 1480px;
    display: grid;
    margin-left: 20%;
    margin-right: 82%;
    grid-template-columns: repeat(6, 150px);

    grid-gap: 75px;
    grid-row-gap: 40px;;
    .playlist-item {
      .playlist-name {
        width: 210px;
        text-align: center;
      }

      .play-button:hover{
        transform: scale(1.06);
        transition: 50ms all linear;
      }
      .playlist-pic-wrapper:hover {
        background-color: rgba(0,0,0,.8);
        img {
          transition: all 50ms linear;
          opacity: 0.8;
        }
        .play-button {
          color: white;
          font-weight: 700;
          border: 2px solid white;
          .fa-play {
            display: block;
          }
        }
      }

      img {
        height: 150px;
        width: 150px;
      }
      .playlist-title {
        display: block;
        font-size: 20px;
        font-weight: 500;
        color: white;
        padding: 10px;
      }

      .playlist-author {
        color: rgba(255,255,255,0.6);
        letter-spacing: .015em;
      }
    }
  }
}
.playlist-pic-wrapper{
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #282828;
  padding: 30px;
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  .play-button {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 0;
    text-align: center;
    border-radius: 50px;
    margin: 45px 50px;
    background: transparent;
    border: 1px solid transparent;
    z-index: 15;
    .fa-play {
      font-size: 18px;
      margin: 20px 20px;
      display: none;
      color: white;
    }
  }
}
.playlist-pic-wrapper:active{
  transform: scale(.96);
}
