.left-audio-container {
  width: 30%;
  min-width: 180px;
  display: flex;
  align-items: center;
  padding: 0 16px;

  .song-info-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .song-photo {
    width: 55px;
    height: 55px;
    margin-right: 14px;
  }
  .info-song {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: .015em;
    color: rgba(255,255,255,0.6);
    a {
      display: block;
      width: 0;
      white-space: nowrap;
      text-decoration: none;
      margin: 0;
      color: white;
      border-bottom: 1px solid white;
    }
    a:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
