.featured-container {
  background-image: linear-gradient(rgb(142, 11, 24), rgb(14, 1, 2) 85%);
  width: 100%;
  height: 100vh;

}
.featured-nav {
  display: block;
  padding: 40px 0 0;

}
.featured-links {
  display: flex;
  justify-content: center;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 500;
  margin-left: 50px;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: .16em;
  .feature-link-item {
    color: rgba(255,255,255,.6);
    margin: .8em;
    padding: .8em .8em 0;
  }

  .feature-link-item::before {
    content: "";
    height: 2px;
    background-color: #1db954;
    width: 30px;
    position: absolute;
    bottom: -6px;
    display: block;
    left: 50%;
    margin-left: -15px;
  }

  .feature-link-item:hover {
    color: white;
    transition: 500ms all ease-in-out;
  }
  .feature-link-item:active, .feature-link-item:focus {
    color: white;
    transition: 500ms all ease-in-out;
    position: relative;
  }
}
