.audio-controls-container{
  background-color: #181818;
  height: 90px;
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;

  .middle-container{
    max-width: 722px;
    margin: 0 auto;
  }
  .song-timer {
    font-size: 12px;
    color: white;
  }
  .song-playing-bar{
    height: 100%;
  }
  .middle-container{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #282828;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
  }
  .audio-controls {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    width: 200px;

    line-height: 20px;
  }
  .fa {
    position: relative;
    width: 16px;
    height: 16px;
    font-size: 14px;
    color: rgba(255,255,255,0.6);
  }
  .fa:hover {
    color: rgba(255,255,255,1);
  }
  .song-option-buttons *:active{
    color: rgba(255,255,255,0.7);
    transform: scale(.95);
  }
  .song-option-buttons{
    text-align: center;
    width: 32px;
    vertical-align: middle;
    height: 32px;
    margin: 9px 9px;
    position: relative;
    bottom: 5px;
    border: 0;
    border-radius: 50px;
    background-color: transparent;
  }
  .rand-selected {
    color: #07d159;
    .rand-dot{
      position: absolute;
      left: 40%;
      display: block;
      width: 4px;
      height: 4px;
      margin-top: 3px;
      border-radius: 50%;
      background-color: #1db954;
    }
  }
  .rand-selected:hover{
    transform: scale(1.04);
    color: #1ed760;
  }
  .play-button {
    width: 32px;
    height: 32px;
    border: 0;
    text-align: center;
    border-radius: 50px;
    margin: 0 10px;
    background: transparent;
    border: 1px solid rgba(255,255,255,0.6);
    .fa-play {
      font-size: 14px;
      margin: 9px 9px;
    }
    .fa-pause {
      font-size: 14px;
      margin: 9px 7px;
    }
  }
  .play-button:hover{
    transition: none 33ms cubic-bezier(.3,0,0,1);
    transform: scale(1.06);
    border: 1px solid rgba(255,255,255,1);
  }


}

.progress-timeline{
  height: 10px;
}
.progress-bar {
  width: 722px;
  background-color: #404040;
  border-radius: 15px;
  height: 5px;
  margin: 0 auto;
}

.handle {
  width: 0;
	height: 5px;
	border-radius: 15px;

	background: rgba(255, 255, 255,0.6);
}

.handle-circle{
  width: 12px;
  height: 12px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.5);
  border-radius: 50%;
  background-color: white;
  position: relative;
  left: -2px;
  margin-top: -8px;
  transform: scale(0);
}

.progress-timeline:hover {
  .handle {
    background: #07d159;
  }
  .handle-circle{
    transition-property: transform;
    transition-duration: .1s;
    transform: scale(1);
  }
}
