
.image-wrapper {
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  transition: all 50ms linear;
}
.image-wrapper:hover {
  background-color: rgba(0,0,0,1);
}
img:hover, .image-wrapper:hover img {
  transition: all 50ms linear;
  opacity: 0.4;
}
