
.album-pic-wrapper {
  display: inline-block;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
  box-sizing: border-box;
  background: transparent;
  width: 100%;
  height: 220px;
  .play-button {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 0;
    text-align: center;
    border-radius: 50px;
    margin: 82px 82px;
    background: transparent;
    border: 1px solid transparent;
    z-index: 15;
    .fa-play {
      font-size: 30px;
      margin: 16px 18px;
      display: none;
      color: white;
    }
  }
}
.play-button:hover{
  transform: scale(1.06);
  transition: 50ms all linear;
}
.album-pic-wrapper:hover {
  background-color: rgba(0,0,0,.8);
  img {
    transition: all 50ms linear;
    opacity: 0.4;
  }
  .play-button {
    color: white;
    font-weight: 700;
    border: 2px solid white;
    .fa-play {
      display: block;
    }
  }
}
.album-pic-wrapper:active {
  transform: scale(.96);
}
