.nav-container {
  width: 220px;
  position: fixed;
  height: 100vh;
  background-color: rgba(0,0,0,.5);
  z-index: 100;
  font-family: 'Montserrat', 'sans-serif';
  font-weight: 700;
  .navbar-logo {
    background-image: image_url('logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    padding: 20px;
    margin: 15px 20px;
  }
  .nav-topsection{
    height: 100%;
  }
  .nav-bar {
    min-height: 400px;

  }
  .nav-bar-ul {
    margin-left: 10px;
    .ul-item {
        padding: 15px;
      a{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
      }
      .fa {
        margin-right: 10px;
      }
      .slash-icon {
        display: flex;
        flex-direction: row;
        margin-left: 2px;
        color: rgba(255, 255, 255, 0.6);
      }
      .slash-icon:hover{
        color: white;
        transition: 500ms all ease-in-out;
        cursor: pointer;
        .slash-link {
          color: white;
          transition: 500ms all ease-in-out;
        }
      }
      .icon-slash {
        margin-right: 10px;
        margin-top: 1.2px;
        margin-left: 1.7px;
      }
    }
    a:hover {
      color: white;
      transition: 500ms all ease-in-out;

    }
    a {
      color: rgba(255,255,255,.6);
    }
  }
  .profile-container {
    display: flex;
    flex-direction: row;
    color: white;
    position: absolute;
    bottom: 0;
    left: 20px;
    min-height: 60px;
    width: 80%;
    text-align: center;
    border-top: 1px solid #404040;

    h3{
      font-size: 14px;
      font-weight: 400;
      letter-spacing: .015em;
      line-height: 20px;
      margin-top: 15px;
    }
    .profile-pic {
      width: 17%;
      height: 17%;
      padding: 10px;
      border-radius: 100px;
      border: 1px solid transparent;
    }
  }
}
