
  .nav-container {
    width: 190px;
    position: fixed;
    flex-direction: column;
    height: 100vh;
    background-color: rgba(0,0,0,.5);
    // padding: 20px;
    // margin-bottom: 90px;
    font-family: 'Montserrat', 'sans-serif';
    font-weight: 700;
    .nav-topsection{
      display: flex;
      flex-flow: column nowrap;
      height: 100%;
      padding-bottom: 90px;
      box-sizing: border-box;
    }
    .navbar-logo {
      background-image: image_url('logo.png');
      background-size: contain;
      background-repeat: no-repeat;
      padding: 20px;
      margin: 15px 5px;
    }
    .nav-topsection{
      height: 100%;
    }
    .nav-bar {
      flex: 4;
    }
    .nav-bar-ul {
      margin-left: 10px;
      display: flex;
      flex-direction: column;

      .ul-item {
          text-align: left;
          font-size: 15px;
          padding: 20px 0;
          white-space: nowrap;
          font-weight: 600;
        .fa {
          margin-right: 15px;
          font-size: 25px;
        }
        .fa-home{
          margin-right: 10px;
        }
        .slash-icon {
          display: flex;
          flex-direction: row;
          margin-left: 4px;
          color: rgba(255, 255, 255, 0.6);
        }
        .slash-icon:hover{
          color: white;
          transition: 500ms all ease-in-out;
          cursor: pointer;
          .slash-link {
            color: white;
            transition: 500ms all ease-in-out;
          }
        }
        .icon-slash {
          margin-right: 10px;
          margin-top: 1.2px;
          margin-left: 1.7px;
          margin-right: 15px;
        }
      }
      a:hover {
        color: white;
        transition: 500ms all ease-in-out;
      }
      a {

        color: rgba(255,255,255,.6);
      }
    }
    .navbar-bottom-container {
      display: flex;
      flex-direction: column;
      // flex: 1;

      .profile-info {
        border: 0;
        color: rgba(255,255,255,0.6);
        background: transparent;
        padding: 7px;
      }
      .profile-info:hover {
        color: white;
        transition: 400ms all linear;
        cursor: pointer;
      }
      .profile-container {
        display: flex;
        color: white;
        border-top: 1px solid #404040;
        h3{
          font-size: 16px;
          font-weight: 500;
          letter-spacing: .015em;
          line-height: 20px;
          margin-top: 15px;
        }
        .profile-pic {
          width: 17%;
          height: 17%;
          padding: 10px;
          border-radius: 100px;
          border: 1px solid transparent;
        }
      }
    }
   
  }
