.song-content{
}
.song-wrapper:hover {
  background: rgba(0,0,0,.3);
  transition: .2s all linear;
  height: 4.56em;
}
.song-wrapper{
  padding: 20px;
  height: 4.56em;
  .song-play-button {

    background: transparent;
    outline: 0;
    border: 0;
    font-size: 14px;
    padding-right: 15px;
    color: white;
  }
  .song-list {
    .song-info {
      display: flex;
      justify-content: space-between;
      .ellipsis-option {
        color: white;
        font-size: 25px;
        letter-spacing: 1px;
      }
    }
    .song-title {
      display: inline;
      color: white;
      font-size: 20px;
      letter-spacing: .1em;
      line-height: 22px;
    }
  }
}
