.playlist-form-close {
  text-align: center;
}
.song-playlist-header {
  text-align: center;
  display: flex;
  width: 100%;
  justify-content: center;
  position: relative;
  margin-bottom: 30px;
    .playlist-header {
      margin: 0;
      letter-spacing: -.005em;
      text-align: center;
      font-size: 72px;
      line-height: 80px;
    }
  .newplaylist {
    position: absolute;
    background-color: #1db954;
    border-radius: 50px;
    border: 0;
    color: white;
    letter-spacing: .16em;
    padding: 10px 22px;
    margin-top: 30px;
    font-size: 11px;
    right: 0;
  }
  .newplaylist:hover {
    background-color: #1ed760;
    transform: scale(1.06);
    transition: none 33ms cubic-bezier(.3,0,0,1);
    transition-property: all;
  }

}
.playlist-form {
    margin-bottom: 10%;
    .playlist-content{
      margin: 0 auto;
      max-width: 1480px;

    }
}
.song-playlist-container {
  background-color: none;
  text-align: center;
  margin-top: 30px;
  .playlist-index-container {
    width: 100%;
    // display: grid;
    // grid-template-columns: repeat(6, 150px);
    // grid-column-gap: 110px;
    // grid-row-gap: 80px;
    .playlist-pic-wrapper {

      img {
        margin-top: 30px;
        height: 150px;
        width: 150px;
      }
    }
  }

  .playlist-item {

    width: 210px;
    height: 210px;
    text-align: center;
    color: white;
    margin-right: 36px;
    margin-bottom: 55px;
    a {
      pointer-events: none;
    }
    .playlist-pic-wrapper {
        box-shadow: 0 0 10px rgba(0,0,0,.6);
        width: 100%;
        height: 100%;
        background-color: #282828;
        display: inline-block;
        padding: 10px;
    }
    .playlist-pic-wrapper:hover {
      background-color: rgba(0,0,0,.9);
      img {
        transition: all 50ms linear;
        opacity: 0.8;
      }
    }
    .playlist-author {
      display: none;
    }
    .playlist-name {
      width: 220px;
      padding: 10px;
      text-align: center;
    }
    .playlist-title {
      padding: 10px;
      color: white;
    }
  }
}
