.show-container {
  display: flex;

  text-align: center;
  margin-left: 230px;


  font-family: 'Montserrat', 'sans-serif';

  .newrelease-header {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    color: white;
    letter-spacing: -.005em;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 50px;
    h1{

      white-space: nowrap;
      text-align: center;
      width: 100%;

    }
  }

  .albums-index-container {
    max-width: 1480px;
    width: 100%;
    display: grid;
    position: relative;
    left: 10%;
    margin-bottom: 30%;
    grid-template-columns: repeat(6, 220px);
    grid-column-gap: 2%;
    .album-item {
      height: auto;
      width: auto;
      img {
        height: 220px;
        width: 220px;
      }
      .album-title {
        display: block;
        text-align: center;
        color: white;
        font-size: 16px;
        padding-top: 10px;
        letter-spacing: .015em;
        font-weight: 400;
        line-height: 20px;
      }
      .album-artist {
        display: block;
        text-align: center;
        padding-top: 5px;
        color: rgba(255,255,255,0.6);
      }
      .album-artist:hover {
        text-decoration: underline;
      }
    }

  }
}
