<!DOCTYPE html>
<html>
  <head>
    <title>MusicOn</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  'application','https://fonts.googleapis.com/css?family=Montserrat:200,400,500,700',
    'https://use.fontawesome.com/releases/v5.2.0/css/all.css',
    media: 'all' %>
    <link href="/favicon.ico" rel="shortcut icon"/>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
